<nav>
	<a routerLink="/">Champions</a>
	<a routerLink="/tierList">TierList</a>
</nav>

<div>
	<p *ngIf="loading">Loading...</p>
</div>

<div>
  <h1>Champions</h1>
  <button (click)="doSearch()">UPDATE</button>
  
  <div class="searchBar">
    <input type="text" placeholder="Search">
  </div>

  <table>
    <tr *ngFor="let c of championList">
      <td><img src="https://cdn.jsdelivr.net/gh/Ibuprofeta/tierlist-wyi6bn@master/src/assets/champion/{{champions[c].id}}.png" width="50px"></td>
      <td>{{champions[c].name}}</td>
    </tr>
  </table>
</div>